<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mckenzie.Zooper.Installer"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1" >

<!-- Limits installer to android 4.0 and up. If we want the template to work for lower,
then we'll have to include the ActionBarSherlock library as well. -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
<!-- "icon" is the launcher icon, "iconlogo" is the ActionBar logo. "app_title" is...well...you know. -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"

        android:label="@string/app_title" > 
        
<!-- Main Activity that launches when you open the app from the drawer. -->
        <activity
            android:name="com.mckenzie.Zooper.Installer.Zooper"
            android:label="@string/app_title" 
            android:theme="@style/AppTheme.TranslucentActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        
        
    </application>

<!-- Allows application to set wallpapers and write to storage for installing the zooper apk -->    

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


</manifest>
